<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='task selection form'>
        <!--In this form, the user can choose which task they are doing (segmentation, object detection, or classification) -->
        <form method="POST">
            <label for='title'> <b>Choose computer vision task</b></label>
            <br>
            <label for='Classification'>Classification</label>
            <input name='Task' type='radio' value='Classification' id='Classification'>
            <br>
            <label for='Object_detection'>Object detection</label>
            <input name='Task' type='radio' value='Object_detection' id='Object_detection'>
            <br>
            <label for='Segmentation'>Segmentation</label>
            <input name='Task' type='radio' value='Segmentation' id='Segmentation'>
            <br>
            <button>submit</button>
        </form>
    </div>
    <br>
    <b>Or choose audio detection task</b>
    <!--Implement audio detection augmentation later here-->
</body>

</html>