<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<!-- all JS functions here-->
<script type="text/javascript">

    function copy_and_paste() {
        let copy_text = document.getElementById('copy_paste_textbox'); // id of the textbox
        copy_text.select();
        navigator.clipboard.writeText(copy_text.value);
        alert('copy and pasted augmentation code');
    }

    function vertical_or_horizontal_flip_click_checkbox() {
        flip_pop_up = document.getElementById('Flip_pop_up');
        if (document.getElementById('Flip_check_box').checked == true) {
            flip_pop_up.style.display = 'block';
            console.log('checked checkbox')
        }
        if (document.getElementById('Flip_check_box').checked == false) {
            flip_pop_up.style.display = 'none';
            console.log('unchecked checkbox')
        }

    }

    function rotate_90_click_checkbox() {
        rotate_90_box = document.getElementById('90° rotate_check_box')
        rotate_90_pop_up = document.getElementById('90_rotate_popup')
        if (rotate_90_box.checked == true) {
            rotate_90_pop_up.style.display = 'block';
            console.log('checked checkbox')
        }
        if (rotate_90_box.checked == false) {
            rotate_90_pop_up.style.display = 'none';
            console.log('unchecked checkbox')
        }
    }

    function crop_click_checkbox() {
        pop_up = document.getElementById('crop_pop_up')
        check_box = document.getElementById('Crop_checkbox')
        if (check_box.checked == true) {
            pop_up.style.display = 'block';
            console.log('checked checkbox')
        }
        if (check_box.checked == false) {
            pop_up.style.display = 'none';
            console.log('unchecked checkbox')
        }
    }
    function rotate_click_checkbox() {
        pop_up = document.getElementById('rotate_pop_up')
        check_box = document.getElementById('Rotate_checkbox')
        if (check_box.checked == true) {
            pop_up.style.display = 'block';
            console.log('checked checkbox')
        }
        if (check_box.checked == false) {
            pop_up.style.display = 'none';
            console.log('unchecked checkbox')
        }
    }
    function blur_click_checkbox() {
        pop_up = document.getElementById('blur_pop_up')
        check_box = document.getElementById('blur_checkbox')
        if (check_box.checked == true) {
            pop_up.style.display = 'block';
            console.log('checked checkbox')
        }
        if (check_box.checked == false) {
            pop_up.style.display = 'none';
            console.log('unchecked checkbox')
        }
    }
    function show_copy_and_paste_checkbox() {
        check_box_element = document.getElementById('copy_paste_div')
        check_box_element.style.display = 'block'
        text_box=document.getElementById('copy_paste_textbox')
        text_box.value=
        `for i in range 100:
            print('hello world')
            #this is a comment`
    }
</script>

<body>
    <div id='augmentation'>
        <label for="absolute_path">Image directory absolute path</label>
        <input type="text" id="absolute_path" name="absolute_path" placeholder="absolute_path"><br>

        <div id="Flip">
            <label for="Flip">Flip</label>
            <input type="checkbox" value="Flip" name='Flip' id="Flip_check_box"
                onclick="vertical_or_horizontal_flip_click_checkbox();">
            <div id="Flip_pop_up" style="display:none">
                vertical,horizontal, or both?
                <br>Enter probability of occuring (0-100%)
            </div>
        </div>
        <br>
        <div id="90° rotate">
            <label for="90° rotate">90° rotate</label>
            <input type="checkbox" value="90° rotate" id="90° rotate_check_box" name='90° rotate'
                onclick="rotate_90_click_checkbox();">
            <div id="90_rotate_popup" style="display:none">
                enter probability of occuring (0-100%)
            </div>
        </div>
        <br>
        <div id="Crop">
            <label for="Crop">Crop</label>
            <input type="checkbox" value="Crop" id="Crop_checkbox" name='Crop' onclick="crop_click_checkbox();">
            <div id="crop_pop_up" style="display:none">
                Enter minimum and max % of image cropped.
                <br>Enter probability of occuring (0-100%)
            </div>
        </div>
        <br>
        <div id='Rotate'>
            <label for="Rotate">Rotate</label> <!-- make user pick rotation range-->
            <input type="checkbox" value="Rotate" id="Rotate_checkbox" name='Rotate' onclick="rotate_click_checkbox();">
            <div id="rotate_pop_up" style="display:none">
                Enter rotation limit (slider)
                <br>Enter probability of occuring (0-100%)
            </div>
        </div>

        <br>
        <div id="blur">
            <label for="blur">blur</label>
            <input type="checkbox" value="blur_checkbox" id="blur_checkbox" name="blur_checkbox"
                onclick="blur_click_checkbox();">
            <div id="blur_pop_up" style="display:none">
                enter blur limit
                <br>Enter probability of occuring (0-100%)
            </div>

        </div>

        <button onclick="show_copy_and_paste_checkbox();">Submit</button>
        <br><br>
        <div id="copy_paste_div" style='display:none'>
            <input type=" text" id="copy_paste_textbox">
            <button type="submit" onclick="copy_and_paste();">Copy and paste code</button>
        </div>
        <!-- make it so that the path of the directory that needs to be augmented is given-->
    </div>
</body>

</html>