<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css" />


    <script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
        </script>
    <title>Document</title>

    <!-- In <body> -->
    <!-- <link rel="stylesheet" href="style.css" /> -->


    <script src="Classification.js"></script>
    <link rel="stylesheet" href="style.css" />

</head>

<body style="background-color: wheat;">
    <h1>Classification image augmentation</h1>

    <mark>
        <h3><a href='' id="download_tag" download onclick="close_download_tag();"></a></h3>
    </mark>

    <div id='augmentation'>
        <!-- <label for="absolute_path">Image directory absolute path</label> -->
        <!-- <input type="text" id="absolute_path" name="absolute_path" placeholder="absolute path here"><br> -->

        <!-- <input id="Flip_probability" type="range" min="0" max="100" step="any" /><br>  EXAMPLE OF SLIDER  -->
        <div id="Flip">
            <label for="Flip">Flip</label>
            <input type="checkbox" value="Flip" name='Flip' id="Flip_check_box"
                onclick="display_popups_methods.flip_click_checkbox();">
            <div id="Flip_pop_up" style="display: none;">

                <label for="vertical_flip">vertical</label>
                <input type='checkbox' id="vertical_flip" name="vertical_flip"
                    onclick="display_popups_methods.verticalflip_click_checkbox();">
                <br>
                <div id="vertical_flip_popup" style="display:none;">
                    <label>% of dataset applied to (0-100%)</label>
                    <input id="vertical_flip_probability" type="range" min="1" max="100" step="1"
                        oninput="range_input_methods.update_probabilities();">
                    <b id='show_vertical_flip_probability'>50</b><b>%</b>
                    <br>
                    <br>
                </div>

                <label for="horizontal_flip">horizontal</label>
                <input type="checkbox" id="horizontal_flip" name="horizontal_flip"
                    onclick="display_popups_methods.horizontalflip_click_checkbox();">

                <div id="horizontal_flip_popup" style="display:none;">
                    <label>% of dataset applied to (0-100%)</label>
                    <input id="horizontal_flip_probability" type="range" min="1" max="100" step="1"
                        oninput="range_input_methods.update_probabilities();">
                    <b id='show_horizontal_flip_probability'>50</b><b>%</b>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <div id="90° rotate">
            <label for="90° rotate">90° rotate</label>
            <input type="checkbox" value="90° rotate" id="90° rotate_check_box" name='90° rotate'
                onclick="display_popups_methods.rotate_90_click_checkbox();">
            <div id="90_rotate_popup" style="display:none">
                <label>% of dataset applied to (0-100%)</label>
                <input id="rotate_90_probability" type="range" min="1" max="100" step="1"
                    oninput="range_input_methods.update_probabilities();">
                <b id="show_rotate_90_probability">50</b><b>%</b>
            </div>
        </div>
        <br>
        <div id="Crop">
            <label for="Crop">Crop</label>
            <input type="checkbox" value="Crop" id="Crop_checkbox" name='Crop'
                onclick="display_popups_methods.crop_click_checkbox();"> <b></b>
            <div id="crop_pop_up" style="position:absolute;left: -1000px;"> <!--style="display:none"-->
                <br>

                <div class="min-max-slider" data-legendnum="2"
                    style="display: block; height: fit-content; width: 250px;">
                    <label for="min">Minimum price</label>
                    <input id="min" class="min" name="min" type="range" step="1" min="1" max="99" />
                    <label for="max">Maximum price</label>
                    <input id="max" class="max" name="max" type="range" step="1" min="1" max="99" />
                </div>

                <label>% of dataset applied to (0-100%)</label>
                <input id="crop_probability" type="range" min="1" max="100" step="1"
                    oninput="range_input_methods.update_probabilities();">
                <b id="show_crop_probability">0</b><b>%</b>
            </div>
        </div>

        


        <br>
        <div id='Rotate'>
            <label for="Rotate">Rotate</label> <!-- make user pick rotation range-->
            <input type="checkbox" value="Rotate" id="Rotate_checkbox" name='Rotate'
                onclick="display_popups_methods.rotate_click_checkbox();">
            <div id="rotate_pop_up" style="display:none">

                <div id="Rotate_limits">
                    <label>Enter rotation limit</label>
                    <input id="Rotate_limit" type="range" min="1" max="45" step="1"
                        oninput="range_input_methods.update_probabilities();"><b>1-</b><b id="show_Rotate_limit">3</b>°
                </div>


                <div id="rotate_probabilities">
                    <label>% of dataset applied to (0-100%)</label>
                    <input id="Rotate_probability" type="range" min="1" max="100" step="1"
                        oninput="range_input_methods.update_probabilities();">
                    <b id="show_Rotate_probability">50</b><b>%</b>
                </div>

            </div>
        </div>

        <br>
        <div id="blur">
            <label for="blur">blur</label>
            <input type="checkbox" value="blur_checkbox" id="blur_checkbox" name="blur_checkbox"
                onclick="display_popups_methods.blur_click_checkbox();">
            <div id="blur_pop_up" style="display:none">
                <label>enter blur limit</label>
                <input id="blur_limit" type="range" min="1" max="25" step="1"
                    oninput="range_input_methods.update_probabilities();" value="5">
                <b id="show_blur_limit">5</b><b>px</b>

                <br>% of dataset applied to (0-100%)
                <input id="blur_prob" type="range" min="1" max="100" step="1" 
                    oninput="range_input_methods.update_probabilities();" value="50"><b
                    id="show_blur_prob">50</b><b>%</b>

            </div>
        </div>


        <form method="POST" action='/upload' class="dropzone dz-clickable" id="dropper" enctype="multipart/form-data"
            style="width: 500px;">
        </form>
        <br><br>

        <button type="submit" onclick="copy_paste_code_methods.show_copy_and_paste_checkbox();"
            id="dropzone_submit">Submit</button>


        <div id="copy_paste_div" style='display:none'>
            <!--<input type="text" id="copy_paste_textbox">-->
            <button type="submit" onclick="copy_paste_code_methods.copy_and_paste();">Copy and paste code</button>
            <br>
            <textarea id="code_block" name="code_block" rows="10" cols="10"></textarea>
        </div>

        <script src="test.js"></script>
</body>

</html>
