<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css" />

    <script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
        </script>
    <title>Document</title>
</head>

<!-- all JS functions here-->

<script type="text/javascript">

    function close_download_tag() {
        let download_href = document.getElementById('download_tag');
        download_href.innerText = ''
        //download_href.href = ''
    }
    function collect_aug_data() {
        //collect aug data from form checkboxes and ranges here
        console.log('collecting form data...');
    }

    let file_id;
    class copy_paste_code_scripts {
        copy_and_paste() {
            let copy_text = document.getElementById('code_block'); // id of the textbox
            copy_text.select();
            navigator.clipboard.writeText(copy_text.value);
            //document.execCommand("copy");
            alert('copy and pasted augmentation code');
        }

        show_copy_and_paste_checkbox() {
            let check_box_element = document.getElementById('copy_paste_div');
            check_box_element.style.display = 'block';
            let text_box = document.getElementById('code_block');
            text_box.value = 'test';
            file_id = "id" + Math.random().toString(16).slice(2);
        }
    }
    let copy_paste_code_methods = new copy_paste_code_scripts();
</script>

<body>
    <a href='' id="download_tag" download onclick="close_download_tag();">download here</a>

    <!--CHECK BOXES HERE-->

    <form method="POST" action='/upload' class="dropzone dz-clickable" id="dropper" enctype="multipart/form-data">
    </form>
    <br><br>
    <button type="submit" onclick="copy_paste_code_methods.show_copy_and_paste_checkbox();"
        id="dropzone_submit">Submit</button>

    <script type="application/javascript">
        data1 = 'false'
        Dropzone.options.dropper = {
            paramName: 'file',
            autoProcessQueue: false,
            chunking: true,
            forceChunking: true,
            url: '/upload',

            init: function () {
                this.on("queuecomplete", async function () {

                    alert("All files have uploaded. Augmenting now...");
                    await this.removeAllFiles(true);
                    console.log('file id:', file_id);
                    data1 = 'false';
                    //while (data1 != 'true') {
                    //sleep(5);
                    //this.removeAllFiles(true);
                    await fetch('/check_finished/' + file_id).then(response => {
                        const contentType = response.headers.get("content-type");
                        if (contentType && contentType.indexOf("application/json") !== -1) {
                            return response.json().then(data => {
                                data1 = JSON.stringify(data);
                                console.log('DATA:', data)
                            });
                        } else {
                            return response.text().then(text => {
                                console.log('text:', text)
                                data1 = text;
                                console.log('data1:', data1)
                                // The response wasn't a JSON object
                                // Process your text as a String
                            });
                        }
                    });
                    //}
                    document.getElementById('download_tag').innerText = 'download here';
                    document.getElementById('download_tag').href = '/download/' + file_id;
                });

                let aug_form_data = collect_aug_data();
                this.on("sending", function (file, xhr, formData) {
                    // Add parameters to be sent with every chunk request
                    formData.append('id', file_id);
                    formData.append('aug data', aug_form_data)
                });
            },

            maxFilesize: 100 * 1e+3, // MB 
            chunkSize: (1e+9), // bytes
            acceptedFiles: ".zip",
            maxFiles: 1,
            maxfilesexceeded: function (file) {
                this.removeAllFiles();
                this.addFile(file);
            }
        }
        document.getElementById('dropzone_submit').addEventListener('click', function () {
            // Access Dropzone instance
            close_download_tag();
            var dropzone = Dropzone.forElement('#dropper');
            // Process the queue
            dropzone.processQueue();
            //dropzone.removeAllFiles(true);
        });

    </script>
    <div id="copy_paste_div" style='display:none'>
        <!--<input type="text" id="copy_paste_textbox">-->
        <button type="submit" onclick="copy_paste_code_methods.copy_and_paste();">Copy and paste code</button>
        <br>
        <textarea id="code_block" name="code_block" rows="10" cols="10"></textarea>
    </div>
    <!-- make it so that the path of the directory that needs to be augmented is given-->
</body>

</html>
